		
		*{
			padding:0;
			margin:0;
			box-sizing:border-box;

		}
		body{
			font-size:20px;
			color:#555555;
		}
.row{
width:100%;
background:#fff;
}
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight:bold;
	font-size:1.75em;
	text-align:center;
	margin:25px 0;
	color:#0D555C;
}
h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size:1.25em;
	text-align:center;
	font-style:italic;
	font-weight:bold;
}
div#menu-container {
    display: inline-block;
    padding: 20px;
}
.menu-section{

	box-sizing:border-box;
	float:left;
	padding:10px;
	
}
.inner-container{
    background-color: #CCDFCC;
    border: 2px solid #2F928A;
}
.h2-container{
    float: right;
    border: none;
    width: 119px;
    padding: 15px;
    border-radius: 0px 0px 0px 10px;
}
#first-section .h2-container{
background-color:#0D555C;
color:#fff;
}
#second-section .h2-container{
background-color:#2F928A;
color:#fff;
}
#third-section .h2-container{
background-color:#dcf1dc;
color:#0D555C;
}
p {
    clear: both;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
}
@media (min-width:992px){
.col-lg-4{
width:33.33%;
}
}

@media (min-width:768px) and (max-width:991px){
.col-md-12{
width:100%;
}
.col-md-6{
width:50%;
}


}

@media (max-width:767px){
.col-sm-12{
width:100%;
}
}



	